!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta(http-equiv= "X-UA-Compatible" content= "IE=Edge,chrome=1")
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0"}

    %title ubiqua
    %meta{name: "description", content: "ubiqua's main website"} 
    %meta{name: "author", content: "ubiqua"} 

    = csrf_meta_tags

    / le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      %script{type: "text/javascript", src:"//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"}

    / le stylesheets
    = stylesheet_link_tag "application", media: "all"

  %body
    %header
      / le navbar
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            / logo
            %a.brand.logo{href: "index.html"}  
              %img{src: "/assets/logo.png"}
            / menu
            .navigation
              %nav
                %ul.nav.topnav
                  = yield :navbar_btns

    / le subhead
    %section#subintro
      = yield :subintro    

    /
      le breadcrumbs
      %section#breadcrumb
        .container
          .row
            .span12
              %ul.breadcrumb.notop
                %li.active Inicio

    /le content
    %section#maincontent            
      = yield

    /le footer
    %footer.footer
      .container
        .row
          .span4
            .widget
              / logo
              %a.brand.logo{href: "index.html"}
                %img{src: "/assets/logo-dark.png"}
              %address
                %i.icon-map-marker
                %strong HMGV, S.A.
                %br
                Calle 50, Plaza Sitio Antiguao Local 1 PB
                %br 
                Urbanizaci칩n San Francisco
                %br
                Ciuidad de Panam치, Panam치
              %span
                %i.icon-phone
                %a{href: "tel:+50762135138"} +507 6213 5138
              %br
              %span
                %i.icon-envelope-alt
                %a{href: "mailto:ubiqua@ubiqua.me"} ubiqua@ubiqua.me 
              %br
              .widget
                %ul.social-links
                  %li
                    %a{href: "https://www.facebook.com/ubiqua.me", title: "Facebook"}
                      %i.icon-rounded.icon-32.icon-facebook.social-media.footer
                  %li
                    %a{href: "https://github.com/ubiqua", title: "Github"}
                      %i.icon-rounded.icon-32.icon-github-alt.social-media.footer
          .span3
            .widget
              %h5 Empresa
              %ul.regular
                %li
                  %a{href: "/about"} Sobre Nosotros
                %li
                  %a{href: "/contact"} Cont치ctanos

          .span3
            .widget
              %h5 Acertijos
              %ul.regular
                %li
                  %a{href: "/bolas"} bolas
                %li
                  %a{href: "/burro"} burro
                %li
                  %a{href: "/carrera"} carrera
                %li
                  %a{href: "/cuerdas"} cuerdas
                %li
                  %a{href: "/granjero"} granjero
                %li
                  %a{href: "/guardia"} guardias
                %li
                  %a{href: "/relojes"} relojes
      .verybottom
        .container
          .row
            .span12
              %p &copy; ubiqua 2013
    
    / le javascripts -- Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"

    / le google analytics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40074427-1']);
      _gaq.push(['_setDomainName', 'ubiqua.me']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
