!!!
%html{lang: "en"}
  %head
    %meta{:content => "DR_qm3gqrMWaoe-ujL-SQFimJkER3LdoSYeRbmLDarA", :name => "google-site-verification"}/
    %meta{charset: "utf-8"}
    %meta(http-equiv= "X-UA-Compatible" content= "IE=Edge,chrome=1")
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0"}
    %title= yield(:page_title)
    %meta{name: "keywords", content:yield(:keywords)}
    %meta{name: "description", content:yield(:description)} 
    %meta{name: "author", content: "ubiqua"} 

    / open graph meta tags -- esto es lo que sale en FB :
    %meta{property:"og:title", content: "ubiqua | Soluciones de Software Empresarial"}
    %meta{property:"og:type", content: "website"} 
    %meta{property:"og:image", content: "/assets/logo-dark.png"}
    %meta{property:"og:url", content:"http://www.ubiqua.me"}
    %meta{property:"og:description", content:"ubiqua es una compañia que desarrolla software empresarial en panama. Ofrecemos una applicacion que administra la fuerza de ventas de empresas."}
   
    

    = csrf_meta_tags

    / le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      %script{type: "text/javascript", src:"//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"}

    / le stylesheets
    = stylesheet_link_tag "application", media: "all"

  %body
    %header
      / le navbar
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar.button-nav{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar.bars
              %span.icon-bar.bars
              %span.icon-bar.bars
            / logo
            %a.brand.logo{href: "index"}  
              %img{src: "/assets/logo.png"}
            / menu
            .navigation.nav-collapse.collapse
              %ul.nav.topnav
                = yield :navbar_btns
    %section#subintro
      = yield :subintro    

    /
      le breadcrumbs
      %section#breadcrumb
        .container
          .row
            .span12
              %ul.breadcrumb.notop
                %li.active Inicio

    /le content
    %section#maincontent            
      = yield

    /le footer
    %footer.footer
      .container
        .row-fluid
          .span3
            .widget
              / logo
              %a.brand.logo{href: "index"}
                %img{src: "/assets/logo-dark.png"}
              %address
                %i.fa.fa-map-marker
                %strong UBIQUA, S.A.
                %br
                Paitilla Office Tower, oficina 7-02
                %br 
                Paitilla
                %br
                Ciuidad de Panamá, Panamá
              %span
                %i.fa.fa-phone
                %a{href: "tel:+5072096707"} +507 209 6707
              %br
              %span
                %i.fa.fa-envelope
                %a{href: "mailto:ghurtado@ubiqua.me"} ghurtado@ubiqua.me 
              %br
              .widget
                %ul.social-links
                  %li
                    %a{href: "https://www.facebook.com/ubiqua.me", title: "Facebook"}
                      %i.icon-rounded.icon-32.fa.fa-facebook.social-media.footer
                  %li
                    %a{href: "https://twitter.com/ubiquame", title: "Twitter", rel: "publisher"}
                      %i.icon-rounded.icon-32.fa.fa-twitter.social-media.footer
                  %li
                    %a{href: "http://www.linkedin.com/company/3087639", title: "LinkedIn", rel: "publisher"}
                      %i.icon-rounded.icon-32.fa.fa-linkedin.social-media.footer
                  %li
                    %a{href: "https://github.com/ubiqua", title: "Github"}
                      %i.icon-rounded.icon-32.fa.fa-github-alt.social-media.footer
          .span3
            .widget
              %h5 Producto
              %ul.regular
                %li
                  %a{href: "/catalog"} Catálogo
                %li
                  %a{href: "/orders"} Envío de pedidos
              /  
                %li
                  %a{href: "/manager"} Análisis de ventas
          .span3
            .widget
              %h5 Empresa
              %ul.regular
                %li
                  %a{href: "/about"} Sobre Nosotros
                %li
                  %a{href: "/contact"} Contáctanos
                %li
                  %a{href: "http://www.ubiquame.blogspot.com/"} Blog
                %li
                  %a{href: "/trisfera"} Recursos de Trisfera Conf

          .span3
            .widget
              %h5 Acertijos
              %ul.regular
                %li
                  %a{href: "/bolas"} bolas
                %li
                  %a{href: "/burro"} burro
                %li
                  %a{href: "/carrera"} carrera
                %li
                  %a{href: "/cuerdas"} cuerdas
                %li
                  %a{href: "/granjero"} granjero
                %li
                  %a{href: "/guardia"} guardias
                %li
                  %a{href: "/relojes"} relojes
      .verybottom
        .container
          .row
            .span12
              %p &copy; ubiqua 2014
    
    / le javascripts -- Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"

    / le google analytics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40074427-1']);
      _gaq.push(['_setDomainName', 'ubiqua.me']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
